#playerContainer { 
	background-color: #BF4949;
	width: 550px; 
	height: 90px;
	padding: 8px;
	border: 2px solid #d0d0d0;
	margin-left: auto ;
  	margin-right: auto ;
}
	ul li a 
	{
	 height: 40px;
	 width: 40px;
	 float:left;
	}
	
	ul
	{
		list-style-type:none;
		display:inline;
		float: left;
		white-space:nowrap;
		margin-top: 50px;
		margin-left: -30px;
	}
	
	li
	{
		display:inline;
	}

	a.play { background: url('play.png'); }
	
	a.stop { background: url('stop.png'); }
	
	a.pause { background: url('pause.png'); }
	
	a.prev { background: url('prev.png'); }
	
	a.next { background: url('next.png'); }
	
	
	#progressBarContainer
	{ 
	float: left;
	width: 250px; 
	height: 20px;
	margin-top:-41px;
	margin-left: 580px;
	border: 1px solid #d0d0d0;
	
	}

	#progressBar
	{ 
	background-color: #fff; 
	height: 20px; 
	width: 0%; 
	margin-top:60px;
	margin-left: 220px;
	}

	#slider
	{
	position:absolute;
	left:425px;
	top:25px;
	}

	#time
	{
	float:right;
	margin-top:-40px;
	margin-right: 80px;
	}

	#songInfo
	{
	width: 300px; 
	height: 20px;
	margin-top: -80px;
	margin-left: 220px;
	}
	
	#mute
	{
	background: url('mute.png');
	width: 40px; 
	height: 40px;
	margin-top: 32px;
	margin-left: 480px;	

	}

